.stick {
  @apply h-1 w-6 rounded-sm bg-primary-500 opacity-100 transition-all duration-[250ms] ease-in-out;
  &:nth-of-type(2) {
    @apply my-1.5;
  }
}

.active {
  .stick {
    &:first-of-type {
      transform: translateY(10px) rotate(45deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:last-of-type {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.nav {
  @apply flex grow items-center justify-between text-base;
  > ul {
    @apply relative w-full;

    > li {
      @apply inline-flex py-0 px-3 align-middle leading-[64px] first-of-type:pl-0 hover:text-primary-500;
      &.active {
        @apply text-primary-500;
      }
      a {
        @apply w-full text-inherit;
      }
    }

    .toolWrapper {
      @apply float-right flex h-16 cursor-pointer items-center justify-center text-2xl;
    }

    @media (max-width: 768px) {
      > li {
        @apply text-center first:mt-6;
      }

      .toolWrapper {
        @apply float-none h-12;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    @apply absolute top-full left-0 z-[100] ml-0 max-h-0 w-full overflow-hidden bg-white py-0 px-4 transition-[max-height] duration-[250ms];
    &.active {
      @apply max-h-screen overflow-auto;
    }
    > ul {
      @apply w-full;

      > li {
        @apply flex p-0 leading-[48px];
      }
    }
  }
}
